name: Pint

on:
  push:
    paths:
      - '**.php'
      - 'pint.json'

jobs:
  pint:
    name: pint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@latest
        with:
          php-version: '8.3'
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@latest

      - name: Run Pint
        run: ./vendor/bin/pint --test
