name: Release

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write # to push tags/releases
  issues: write # to comment on released issues
  pull-requests: write # to comment on released PRs

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for commit analysis
          token: ${{ secrets.GH_TOKEN }} # using standard GH_TOKEN for semantic-release

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
